[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
watchdog = "*"

[packages]
flask = "*"
python-dotenv = "*"
flask-wtf = "*"
flask-ckeditor = "*"
flask-dropzone = "*"
wtforms = "*"
flask-wtforms = "*"
loginform = "*"

[requires]
python_version = "3.7"
